<mat-card class="card">

    <mat-card-title class="card-title">Login Form</mat-card-title>
    <mat-card-subtitle class="card-subtitle">Don't have an account? <a routerLink="/register" >Register Now</a> </mat-card-subtitle>
    <mat-card-content class="card-content">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" required>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" required>
        </mat-form-field>
  
        <mat-radio-group formControlName="roles">
            <mat-radio-button value="admin">Admin</mat-radio-button>
            <mat-radio-button value="supervisor">Supervisor</mat-radio-button>
          <mat-radio-button value="worker">Worker</mat-radio-button>
        </mat-radio-group>
        <div class="d-flex align-items-center justify-content-center">
          <button mat-raised-button color="primary" class="btn-login" type="submit">Login Now</button>
          <button mat-raised-button color="secondary" class="btn-back" routerLink="/home">Back</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  
