<h2 mat-dialog-title class="d-flex align-items-center justify-content-between">
  Capture Image
  <button mat-icon-button mat-dialog-close (click)="closeDialog()">
    <mat-icon aria-label="Close dialog">close</mat-icon>
  </button>
</h2>
<mat-dialog-content class="p-0">
  <div class="video-container">
    <video
      [class.show]="!isCaptured"
      [class.hide]="isCaptured"
      #video
      id="video"
      [width]="WIDTH"
      [height]="HEIGHT"
      autoplay
    ></video>
    <canvas
      [class.show]="isCaptured"
      [class.hide]="!isCaptured"
      #canvas
      id="canvas"
      [width]="WIDTH"
      [height]="HEIGHT"
    ></canvas>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    mat-flat-button
    *ngIf="!isCaptured"
    color="primary"
    type="button"
    (click)="snapImage()"
  >
    Capture Photo
  </button>
  <button
    mat-flat-button
    color="primary"
    type="submit"
    (click)="saveImage()"
    [disabled]="!isCaptured"
  >
    Save
  </button>
  <button
    mat-flat-button
    color="primary"
    type="button"
    (click)="startAgain()"
    [disabled]="!isCaptured"
  >
    Capture Again
  </button>
</mat-dialog-actions>
